@font-face {
    font-family: "Poppins";
    src: url(./Poppins/Poppins-Medium.ttf);
}
*{
  margin: 0px;
  padding: 0px; 
  font-family: "Poppins";
}

.regi-container{
    margin-top: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#user-form{
    padding-top: 10px;
    background-color: lightcoral;
    width: 100%;
    height: max-content;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#user-form h2{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.form-table{
    margin: 10px 0px;
}

input{
    margin-top: 20px;
    font-size: 16px;
    padding: 10px;
    border: 0px solid;
    border-radius: 5px;
    background-color: rgb(236, 236, 236);
}
input:focus{
    outline: none;
}

#submit-btn{
    background-color: seagreen;
    border-radius: 5px;
    padding: 10px;
    color: white;
    border: 0px solid;
    width: 120px;
    margin-top: 15px;
}

.Entries-warp{
    width: 100%;
    margin: 50px auto 0px auto;
    background-color: wheat;
    width: max-content;
    border-radius: 5px;
    padding: 10px;
    border: 2px solid slateblue;
}

.Entries-title{
    text-align: center;
    font-weight: bold;
    margin-bottom: 4px;
}

